In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from numpy import nan as Nan

In [2]:
df_original = pd.read_csv('annual_aqi_by_county_2020.csv')

In [3]:
df= df_original.drop(columns=['Days with AQI', 'Good Days', 'Moderate Days', 'Unhealthy for Sensitive Groups Days','Unhealthy Days'])

In [4]:
df= df.drop(columns=['Very Unhealthy Days','Hazardous Days','Days CO','Days NO2','Days Ozone','Days SO2','Days PM2.5','Days PM10'])

df

pdToList_county = list(df['County'])

pdToList_county

def first_word(pdToList_county):
    my_list = [x.split()[0] for x in pdToList_county]
    return my_list

County = first_word(pdToList_county)

df.insert(2, 'First Word of Each County', County)

df.to_csv('df.csv')


df = pd.read_csv('df_test2.csv')

In [5]:
df

,Unnamed: 0,State,County,First Word of Each County,Abbreviation,Year,Max AQI,90th Percentile AQI,Median AQI
0,0,Alabama,Baldwin,Baldwin,AlabamaBaldwin,2020,74,49,36
1,1,Alabama,Russell,Russell,AlabamaRussell,2020,99,56,36
2,2,Alabama,Shelby,Shelby,AlabamaShelby,2020,71,46,28
3,3,Alabama,Sumter,Sumter,AlabamaSumter,2020,70,43,29
4,4,Alabama,Tuscaloosa,Tuscaloosa,AlabamaTuscaloosa,2020,97,45,31
...,...,...,...,...,...,...,...,...,...
1025,1025,Wyoming,Sublette,Sublette,WyomingSublette,2020,151,61,44
1026,1026,Wyoming,Sweetwater,Sweetwater,WyomingSweetwater,2020,1250,76,46
1027,1027,Wyoming,Teton,Teton,WyomingTeton,2020,161,54,42
1028,1028,Wyoming,Uinta,Uinta,WyomingUinta,2020,122,51,40
1029,1029,Wyoming,Weston,Weston,WyomingWeston,2020,119,49,40

In [6]:
population_by_county = pd.read_csv('PopulationByCounties.csv')

In [7]:
population_by_county

,Geographic Area,County,State,Abbreviation,2019 Population _ Census
0,"Baldwin County, Alabama",Baldwin,Alabama,AlabamaBaldwin,223234
1,"Barbour County, Alabama",Barbour,Alabama,AlabamaBarbour,24686
2,"Bibb County, Alabama",Bibb,Alabama,AlabamaBibb,22394
3,"Blount County, Alabama",Blount,Alabama,AlabamaBlount,57826
4,"Bullock County, Alabama",Bullock,Alabama,AlabamaBullock,10101
...,...,...,...,...,...
3136,"Sweetwater County, Wyoming",Sweetwater,Wyoming,WyomingSweetwater,42343
3137,"Teton County, Wyoming",Teton,Wyoming,WyomingTeton,23464
3138,"Uinta County, Wyoming",Uinta,Wyoming,WyomingUinta,20226
3139,"Washakie County, Wyoming",Washakie,Wyoming,WyomingWashakie,7805
3140,"Weston County, Wyoming",Weston,Wyoming,WyomingWeston,6927

In [8]:
pd.merge(population_by_county,df,how="inner",on="Abbreviation")

Empty DataFrame
Columns: [Geographic Area, County_x, State_x, Abbreviation, 2019 Population _ Census, Unnamed: 0, State_y, County_y, First Word of Each County, Year, Max AQI, 90th Percentile AQI, Median AQI]
Index: []