In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from numpy import nan as Nan
from IPython.display import display

In [2]:
# Downloaded CSV from internet 

# https://aqs.epa.gov/aqsweb/airdata/download_files.html

df_original = pd.read_csv('annual_aqi_by_county_2020.csv')

In [3]:
# Clean Up CSV 

# Drop unwanted column names

df= df_original.drop(columns=['Days with AQI', 'Good Days', 'Moderate Days', 'Unhealthy for Sensitive Groups Days','Unhealthy Days'])
df= df.drop(columns=['Very Unhealthy Days','Hazardous Days','Days CO','Days NO2','Days Ozone','Days SO2','Days PM2.5','Days PM10'])

# Drop the word county

pdToList_county = list(df['County'])
def first_word(pdToList_county):
    my_list = [x.split()[0] for x in pdToList_county]
    return my_list

County = first_word(pdToList_county)

df.insert(2, 'First Word of Each County', County)

# Creating abbreivation through Excel 

df.to_csv('df.csv')
df = pd.read_csv('df_with_abbreivations.csv')

In [4]:
# https://www.ers.usda.gov/data-products/county-level-data-sets/

edu_original = pd.read_csv('Education (1).csv',encoding='ISO-8859-1')

In [5]:
# Cleaning Up CSV
neglect2013 = [col for col in edu_original if '2013' in col]
edu = edu_original.drop(columns=neglect2013)

neglect2003 = [col for col in edu_original if '2003' in col]
edu = edu.drop(columns=neglect2003)
edu

neglect1970 = [col for col in edu if '1970' in col]
edu = edu.drop(columns=neglect1970)
edu

neglect1980 = [col for col in edu if '1980' in col]
edu = edu.drop(columns=neglect1980)
edu

neglect1990 = [col for col in edu if '1990' in col]
edu = edu.drop(columns=neglect1990)
edu

neglect2000 = [col for col in edu if '2000' in col]
edu = edu.drop(columns=neglect2000)
edu

edu= edu.drop(columns=['FIPS Code'])
edu= edu.drop(columns=["Less than a high school diploma, 2015-19","High school diploma only, 2015-19","Some college or associate's degree, 2015-19"])
edu= edu.drop(columns=["Bachelor's degree or higher, 2015-19","Percent of adults with less than a high school diploma, 2015-19"])
edu= edu.drop(columns=["Percent of adults completing some college or associate's degree, 2015-19"])


pdToList_area_name = list(edu['Area name'])

pdToList_area_name

def first_word(pdToList_area_name):
    my_list = [x.split()[0] for x in pdToList_area_name]
    return my_list

Area_name = first_word(pdToList_area_name)

edu.insert(2, 'First Word of Each County', Area_name)

edu.to_csv('edu.csv')

# Add needed abbreivations via Excel 
edu=pd.read_csv('edu_with_abbreivations.csv')

In [6]:
# First dataset include an inner join between AQI data and Education Data 

Dataset = pd.merge(left=df, right=edu, left_on=['Abbreviation'], right_on=['Abbreviation'])


Date_Set_1 = Dataset.drop(columns="Area name")
Date_Set_1= Date_Set_1.drop(columns="State_y")
Date_Set_1= Date_Set_1.drop(columns="First Word of Each County_x")
Date_Set_1= Date_Set_1.drop(columns="First Word of Each County_y")
Date_Set_1=Date_Set_1.rename(columns={"State_x": "State"})
Date_Set_1.to_csv('Data_Set_1.csv')

In [7]:
# https://www.ers.usda.gov/data-products/county-level-data-sets/

empl_original = pd.read_csv('Unemployment.csv')

# Clean Up CSV
empl=empl_original[~empl_original.Attribute.str.contains("2000")]
empl=empl[~empl.Attribute.str.contains("2001")]
empl=empl[~empl.Attribute.str.contains("2002")]
empl=empl[~empl.Attribute.str.contains("2003")]
empl=empl[~empl.Attribute.str.contains("2004")]
empl=empl[~empl.Attribute.str.contains("2005")]
empl=empl[~empl.Attribute.str.contains("2006")]
empl=empl[~empl.Attribute.str.contains("2007")]
empl=empl[~empl.Attribute.str.contains("2008")]
empl=empl[~empl.Attribute.str.contains("2009")]
empl=empl[~empl.Attribute.str.contains("2010")]
empl=empl[~empl.Attribute.str.contains("2011")]
empl=empl[~empl.Attribute.str.contains("2012")]
empl=empl[~empl.Attribute.str.contains("2013")]
empl=empl[~empl.Attribute.str.contains("2014")]
empl=empl[~empl.Attribute.str.contains("2015")]
empl=empl[~empl.Attribute.str.contains("2016")]
empl=empl[~empl.Attribute.str.contains("2017")]
empl=empl[~empl.Attribute.str.contains("2019")]
empl=empl[~empl.Attribute.str.contains("2018")]
empl=empl[~empl.Attribute.str.contains("Civilian")]
empl=empl[~empl.Attribute.str.contains("rate")]

# Create one database containing data for the Employed
employed = empl[~empl.Attribute.str.contains("Unemployed")]
employed = employed.rename(columns={"Value": "# Employed"})
employed = employed.drop(columns=['Attribute'])

# Create a second database containing data for the Unemployed

unemployed = empl[~empl.Attribute.str.contains("Employed")]
unemployed = unemployed.rename(columns={"Value": "# Unemployed"})
unemployed=unemployed.drop(columns=['Attribute'])


# Merge Together both the employed and unemployed data frames
Employment_df = pd.merge(left=employed, right=unemployed, left_on=['Area_name'], right_on=['Area_name'])
pdToList_area_name = list(Employment_df['Area_name'])

# Creating a column based on the First Word of Each County
def first_word(pdToList_area_name):
    my_list = [x.split()[0] for x in pdToList_area_name]
    return my_list

Area_name = first_word(pdToList_area_name)

Employment_df.insert(2, 'First Word of Each County', Area_name)
Employment_df.to_csv('Employment_df.csv')

# Add abbreviations within excel 
Employment_numbers=pd.read_csv('Employment_df_with_abbreivations.csv')

In [8]:
# Create second data base containing information from database 1 and the new employment numbers for each county

Dataset = pd.merge(left=Date_Set_1, right=Employment_numbers, left_on=['Abbreviation'], right_on=['Abbreivation'])
Data_Set_2=Dataset.drop_duplicates(subset=["# Employed","# Unemployed"])
Data_Set_2.to_csv('Data_Set_2.csv')

# Clean up CSV over excel
updated_12_02 = pd.read_csv('Data_Set_2_cleanedUP.csv')

In [9]:
# https://www.census.gov/data/datasets/time-series/demo/popest/2010s-counties-total.html#par_textimage_739801612

us_county_data=pd.read_csv('us_county.csv')
Data_Set_3 = pd.merge(left=updated_12_02, right=us_county_data, left_on=['Abbreviation'], right_on=['Abbreviation'])
Data_Set_3 = Data_Set_3.drop(columns=['County_y'])
Data_Set_3 = Data_Set_3.drop(columns=['State_y'])
Data_Set_3 = Data_Set_3.rename(columns={"State_x": "State"})
Data_Set_3 = Data_Set_3.rename(columns={"County_x": "County"})

In [10]:
# https://www.kaggle.com/headsortails/covid19-us-county-jhu-data-demographics?select=us_county.csv
Election_Data = pd.read_csv('Election_Data.csv')

In [11]:
Data_Set_4 = pd.merge(left=Data_Set_3, right=Election_Data, left_on=['Abbreviation'], right_on=['Abbreviation'])
Data_Set_4.to_csv('Data_Set_4.csv')

# Cleaned up CSV over excel 
Data_Set_4 = pd.read_csv('Data_Set_4_CleanedUp.csv')

In [12]:
#https://www.eia.gov/electricity/data/eia860/
Energy=pd.read_csv('Cleaned_Up_County_Energy_Sources.csv')

In [13]:
Energy=pd.read_csv('Cleaned_Up_County_Energy_Sources.csv')

In [14]:
Energy

,County,Batteries,CoalIntegratedGasificationCombinedCycle,ConventionalHydroelectric,ConventionalSteamCoal,Flywheels,Geothermal,HydroelectricPumpedStorage,LandfillGas,MunicipalSolidWaste,...,OnshoreWindTurbine,OtherGases,OtherNaturalGas,OtherWasteBiomass,PetroleumCoke,PetroleumLiquids,SolarPhotovoltaic,SolarThermalwithEnergyStorage,SolarThermalwithoutEnergyStorage,Wood/WoodWasteBiomass
0,Abbeville,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,Acadia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
2,Accomack,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,16,5,0,0,0
3,Ada,0,0,10,0,0,0,0,2,0,...,0,0,0,0,0,0,2,0,0,0
4,Adair,0,0,0,0,0,0,0,0,0,...,14,0,0,0,0,8,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,Young,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1358,Yuba,0,0,4,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1359,YukonKoyukuk,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,13,0,0,0,0
1360,Yuma,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,13,0,0,0
1361,Zapata,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [15]:
Data_Set_5 = pd.merge(left=Data_Set_4, right=Energy, left_on=['County'], right_on=['County'])

In [16]:
Data_Set_5

,State,County,Abbreviation,Max AQI,90th Percentile AQI,Median AQI,"Percent of adults with a high school diploma only, 2015-19","Percent of adults with a bachelor's degree or higher, 2015-19",# Employed,# Unemployed,...,OnshoreWindTurbine,OtherGases,OtherNaturalGas,OtherWasteBiomass,PetroleumCoke,PetroleumLiquids,SolarPhotovoltaic,SolarThermalwithEnergyStorage,SolarThermalwithoutEnergyStorage,Wood/WoodWasteBiomass
0,Alabama,Baldwin,AlabamaBaldwin,74,49,36,27.7,31.9,91338,5425,...,0,0,0,0,0,0,0,0,0,0
1,Alabama,Russell,AlabamaRussell,99,56,36,31.4,17.8,22290,1210,...,0,0,0,0,0,2,0,0,0,2
2,Alabama,Shelby,AlabamaShelby,71,46,28,19.8,42.9,109646,4402,...,0,0,0,0,0,17,4,0,0,0
3,Indiana,Shelby,IndianaShelby,115,46,32,42.4,18.7,21443,1643,...,0,0,0,0,0,17,4,0,0,0
4,Tennessee,Shelby,TennesseeShelby,152,61,44,27.5,31.6,404507,43262,...,0,0,0,0,0,17,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,Wyoming,Park,WyomingPark,113,30,11,25.8,34.0,14549,831,...,0,2,0,0,0,0,0,0,0,0
768,Wyoming,Platte,WyomingPlatte,283,50,19,38.3,20.7,4418,233,...,4,0,0,0,0,0,0,0,0,0
769,Wyoming,Sweetwater,WyomingSweetwater,1250,76,46,33.0,22.5,19308,1532,...,0,0,0,0,0,0,1,0,0,0
770,Wyoming,Teton,WyomingTeton,161,54,42,14.9,57.0,14292,912,...,2,0,0,0,0,3,0,0,0,0
771,Wyoming,Uinta,WyomingUinta,122,51,40,41.5,16.0,8730,582,...,3,0,0,0,0,0,0,0,0,0

In [17]:
Data_Set_5.to_csv('Data_Set_5.csv')

In [18]:
# https://data.ers.usda.gov/reports.aspx?ID=17826
Poverty = pd.read_csv('Poverty.csv')
Data_Set_6 = pd.merge(left=Data_Set_5, right=Poverty, left_on=['State','County'], right_on=['State','County'])
Data_Set_6.to_csv('Data_Set_6.csv')
Data_Set_6
updated_12_07 = Data_Set_6

In [19]:
updated_12_07.to_csv('updated_12_07.csv')